build/
*.3dsx
*.elf
*.smdh
*.map
*.o
*.d
*.lst
*.cia
.abacus.donotdelete
cia_tools/makerom-extract/
cia_tools/makerom-win/
cia_tools/makerom-v0.19.0-win_x86_64.zip
cia_assets/banner.bnr
cia_assets/icon.icn